<%- include('../partials/header') %>

<h1><%= title %></h1>

<div class="ThankYou">
  <p>Thank you, <strong><%= name %></strong>! Your message has been received.</p>
</div>

<%- include('../partials/footer') %>
